@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
   

    .title{
    float: left;
    padding: 20px 75px 20px 75px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif;
    }
   .title:hover{
    background-position:0;
    font-size:1.6em;
   }
   
   .search{
    float: left;
    margin-top: 35px;
    margin-left:40px;
    width: 250px;
  }
  .search-bar {
    height: 38px;
    font-size:large;
  }


  .sec{
    width: 100%;
    height: 60cm;
    float: left;
    border-bottom:4px gray solid;
    border-top:2px gray solid;
    background-color: azure;
}
.text1{
width: 100%;
height: 100px;
float: left;
}
.text1 h1{
font-size: 68px;
font-family: 'Times New Roman', Times, serif;
text-align: center;
}
.text2{
width: 100%;
height: 70px;
float: left; 
margin-top: 60px;
}
.text2 h1{
font-size: 30px;
font-family: 'Noto Sans TC',sans-serif;
text-align: center;
}

.first{
width: 50%;
height: 1000px;
float: left;
}
.first img:hover{
    opacity: 0.8;
}
.first h1:hover{
    opacity: 0.8;
}
.img1{
    width: 500px;
    margin-left: 350px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.00);

}

.second{
width: 50%;
height: 1000px;
float: left;
}
.second img:hover{
    opacity: 0.8;
}
.second h1:hover{
    opacity: 0.8;
}
.img2{
    width: 500px;
    height: 585px;
    margin-top: 20px;
    margin-right: 100px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.00);
}








.and{
    width:100%; 
    height:100px;
    background-color: black;
    float: left;
  }





















/*...................................登入/註冊...............................*/
.login{
    float: left;
    padding:  20px 20px 20px 20px;
    border-bottom: 4px brown solid;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif;
   }
   .login:hover{
    background-position:0;
    font-size:1.6em;
   }
   .login button{
     font-size: 15px;
     font-family: 'Noto Sans TC',sans-serif;
     border: 0px;;
     background-color: white;
   }
  
  /* The Modal (background) */
  .modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 1500px;
    height:100%;
    overflow: hidden;
    background-color: transparent;
    padding-top: 150px;
    padding-left: 170px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin:3% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid gray;
    width: 800px;
    height:600px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  
  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .button-1 {
    background-color: gray;
    color: white;
    padding: 0 25px 0 25px;
    margin-top: 25px;
    margin-left: 150px; 
    cursor: pointer;
    font-size: 24px;
  }
  
  .button-1:hover {
    opacity: 0.8;
  }
  
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }
  
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
  
    to {
      transform: scale(1)
    }
  }
  
  