@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
   

    .title{
    float: left;
    padding: 20px 75px 20px 75px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif;
    }
   .title:hover{
    background-position:0;
    font-size:1.6em;
   }
   
   .search{
    float: left;
    margin-top: 35px;
    margin-left:40px;
    width: 250px;
  }
  .search-bar {
    height: 38px;
    font-size:large;
  }

   .new_pdct{
     float: left;
     margin-top: 30px;
     margin-left: 600px;
     max-width: 1000px;
     height: 100px;
     opacity: 1;
   }
   .new_pdct:hover{
     opacity: 0.5;
   }
   .new_pdct_back{
    width: 100%;
    float: left;
    background-color: azure; 
}


   .new_1{
     float: left;
     padding: 100px 0px 50px 0px;
     margin-top: 10px;
     margin-left: 150px;
     opacity: 1;
   }
   .new_1 img{
     padding-left: 150px;
     padding-right: 150px;
     padding-bottom: 75px;
     border-bottom: 4px blue solid;
   }
   .new_1:hover{
     transition: 0.3s;
     opacity: 0.7;
     background-color: rgb(164, 189, 248);
   }
   .new_2{
    float: left;
    padding: 100px 0px 50px 0px;
     margin-top: 10px;
     margin-left: 5px;
     opacity: 1;
  }
  .new_2 img{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;
    border-bottom: 4px blue solid;
  }
  .new_2:hover{
    transition: 0.3s;
    opacity: 0.7;
    background-color: rgb(164, 189, 248);
  }
  .new_3{
    float: left;
    padding: 100px 0px 50px 0px;
     margin-top:10px;
     margin-left: 5px;
     opacity: 1;
  }
  .new_3 img{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 75px;
    border-bottom: 4px blue solid;
  }
  .new_3:hover{
    transition: 0.3s;
    opacity: 0.7;
    background-color: rgb(164, 189, 248);
  }

  .new_back{
    width: 100%;
    float: left;
    background-color: azure;
    height: 20cm;
}
  .fire1{
width: 150px;
height: 150px;
transform:rotate(-20deg);
position: relative;
top: -750px;
left: 120px;
  }
  .fire2{
width: 150px;
height: 150px;
transform:rotate(-20deg);
position: relative;
top: -750px;
left: 490px;
  }
 






.and{
  width:100%; 
  height:100px;
  background-color: black;
  float: left;
}
/*..................................動態廣告.............................*/
 .sec{
    width: 100%;
    height: 15cm;
    float: left;
    border-bottom:4px red solid;
}
.slider_container {
    margin: 30px auto;
    width: 400px;
    height: 280px;
    opacity: 1;
   }
   .slider_container:hover{
    opacity: 0.5;
  }
.slider_img{
    height: 14.5cm;
    width: 1700px;
    vertical-align: middle;
}
.slider_container div {
    max-width: 1500px;
    padding: 10px;
    position: absolute;
    top: 100px;
    left: 110px;
    opacity: 0;
    filter: alpha(opacity=0);
 } 

.slider_container div {
    -webkit-animation: round 25s linear infinite;
    animation: round 25s linear infinite;
}

@-webkit-keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
@keyframes round {
    4% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒靜止*/
    }
    24% {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5-6秒淡出*/
    }
}
.slider_container div:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(4) {
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(5) {
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}
/*...................................動態廣告結束...............................*/


/*...................................登入/註冊...............................*/
.login{
  float: left;
  padding:  20px 20px 20px 20px;
  border-bottom: 4px brown solid;
  margin-top: 20px;
  margin-left: 110px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Noto Sans TC',sans-serif;
 }
 .login:hover{
  background-position:0;
  font-size:1.6em;
 }
 .login button{
   font-size: 15px;
   font-family: 'Noto Sans TC',sans-serif;
   border: 0px;;
   background-color: white;
 }

/* The Modal (background) */
.modal {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 1500px;
  height:100%;
  overflow: hidden;
  background-color: transparent;
  padding-top: 150px;
  padding-left: 170px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin:3% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid gray;
  width: 800px;
  height:600px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}


/* Full-width input fields */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin-top: 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.button-1 {
  background-color: gray;
  color: white;
  padding: 0 25px 0 25px;
  margin-top: 25px;
  margin-left: 150px; 
  cursor: pointer;
  font-size: 24px;
}

.button-1:hover {
  opacity: 0.8;
}

  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
span.psw {
  float: right;
  padding-top: 16px;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

