@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
   


.title{
    float: left;
    padding: 20px 75px 20px 75px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif;
    }
   .title:hover{
    background-position:0;
    font-size:1.6em;
   }
   
   .search{
    float: left;
    margin-top: 35px;
    margin-left:40px;
    width: 250px;
  }
  .search-bar {
    height: 38px;
    font-size:large;
  }

  .sec{
    width: 100%;
    height: 22cm;
    float: left;
    border-bottom:2px gray solid;
    background-color: azure;
    margin-top: 20px;
    border-top: 2px gray solid;
}
.sec h1{
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif ;
}

.value{
    float: left;
    width: 100%;
    margin-left: 550px;
}

.button{
    width: 100px;
    height: 40px;
    background-color: gray;
    color: white;
    border-radius: 5px;
    border:#999;
    font-size: 25px; 
    margin-left: 900px;
    margin-top: 30px;
    font-family: 'Noto Sans TC',sans-serif ;
}
.button:hover{
  opacity: 0.7;
}


.trd{
    width: 100%;
    height: 30cm;
    float: left;
    border-bottom:2px gray solid;
    background-color: azure;
    border-top: 2px gray solid;
}
.trd h1{
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif ;
}

.cart_pdct{
    background-color: rgb(236, 236, 236);
    width: 1400px;
    height: 330px;
   margin-left: 250px;
   opacity: 1;
}
.cart_pdct:hover{
    opacity: 0.7;
    background-color: #999;
}
.pdct_2{
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px black solid;
  }
  .pdct_2 img{
    width: 90px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: 4px blue solid;
  }
 
  .pdct_3{
      float: left;
      margin-left: 50px;
      width: 600PX;
  }


  .fth{
    width: 100%;
    height: 15cm;
    float: left;
    background-color: azure;
  }
  .fth h1{
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif ;
}
.clickstar{
    color:#B3D9D9;
    cursor: pointer;
    font-size:5cm;
    transition:0.3s;
}
.clickstar:hover{
    color:#4b8383;
}

.comment{
    margin-top:1cm;
    margin-left:9cm;
    font-size:30px;
}

tr{
background-color: rgb(236, 236, 236);
}
tr:hover {
background-color: #39affd;
opacity: 0.7;
}











.and{
    width:100%; 
    height:100px;
    background-color: black;
    float: left;
    margin-top: 10px;
  }

  /*...................................登入/註冊...............................*/
.login{
    float: left;
    padding:  20px 20px 20px 20px;
    border-bottom: 4px brown solid;
    margin-top: 20px;
    margin-left: 110px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Noto Sans TC',sans-serif;
   }
   .login:hover{
    background-position:0;
    font-size:1.6em;
   }
   .login button{
     font-size: 15px;
     font-family: 'Noto Sans TC',sans-serif;
     border: 0px;;
     background-color: white;
   }
  
  /* The Modal (background) */
  .modal {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 1500px;
    height:100%;
    overflow: hidden;
    background-color: transparent;
    padding-top: 150px;
    padding-left: 170px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin:3% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid gray;
    width: 800px;
    height:600px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  
  /* Full-width input fields */
  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .button-1 {
    background-color: gray;
    color: white;
    padding: 0 25px 0 25px;
    margin-top: 25px;
    margin-left: 150px; 
    cursor: pointer;
    font-size: 24px;
  }
  
  .button-1:hover {
    opacity: 0.8;
  }
  
    /* Center the image and position the close button */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }
  span.psw {
    float: right;
    padding-top: 16px;
  }
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {
      -webkit-transform: scale(0)
    }
  
    to {
      -webkit-transform: scale(1)
    }
  }
  
  @keyframes animatezoom {
    from {
      transform: scale(0)
    }
  
    to {
      transform: scale(1)
    }
  }